<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue - Summer camp homework 03</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="./style.css">
  <!-- Feather Icons -->
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
  <div id="app">
    <h1 class="title">Todo List</h1>

    <div class="addTodo">
      <input v-model="state.todoText" @keyup.enter="addTodo" type="text" />
      <button @click="addTodo">
        <i data-feather="plus"></i>
      </button>
    </div>

    <ul v-if="state.todos.length > 0" class="todos">
      <li class="toolbar">
        <button
          v-if="state.showCompletedAllButton"
          @click="handleTodos('completed')"
          class="completedAll"
        >
          Completed All
        </button>
        <button @click="handleTodos('delete')" class="deleteAll">Delete All</button>
      </li>

      <li
        v-for="{ id, value, completed, editing } in filterTodos"
        :key="id"
        :class="{'completed': completed}"
        @click="completedTodo($event, id)"
        @dblclick="editTodo(id)"
      >
        <i v-if="completed" data-feather="check-circle"></i>
        <i v-else data-feather="circle"></i>
        <input
          v-if="editing"
          v-model="value"
          @blur="cancelEdit(id)"
          @keyup.enter="confirmEdit($event, id)"
          type="text"
        />
        <p v-else>{{ value }}</p>
        <span v-if="editing" class="helperText">Please press 'Enter' to confirm</span>
        <div v-else class="iconButton" @click="deleteTodo(id)">
          <i data-feather="trash-2"></i>
        </div>
      </li>

      <li class="footer">
        <p>{{ filterTodos.length }} items</p>
        <select v-model="state.filter">
          <option value="all">All</option>
          <option value="todo">Todo</option>
          <option value="completed">Completed</option>
        </select>
      </li>
    </ul>
  </div>

  <script>
    /* ===== Feather Icons ===== */
    feather.replace()
  </script>

  <script type="module">
    /* ========== Vue ========== */
    import { createApp, reactive, watch, computed, onMounted } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.0-beta.4/vue.esm-browser.min.js';

    createApp({
      setup() {
        const state = reactive({
          todoText: '',
          todos: [],
          filter: 'all',
          completed: true,
          editing: false,
          showCompletedAllButton: true,
        });

        const filterTodos = computed(() => {
          switch (state.filter) {
            case 'todo':
              return state.todos.filter((item) => !item.completed);
            case 'completed':
              return state.todos.filter((item) => item.completed);
            default:
              return state.todos;
          }
        });

        const getTodoItem = (todoId) => {
          const index = state.todos.findIndex((todo) => todo.id === todoId);
          return state.todos[index];
        };

        const addTodo = (event) => {
          state.todos.unshift({
            id: Date.now(),
            value: state.todoText,
            completed: false,
            editing: false,
          })
          state.todoText = '';
        };

        const completedTodo = (event, id) => {
          const todo = getTodoItem(id);
          if (todo && event.target.nodeName !== "INPUT") {
            todo.completed = !todo.completed;
          }
        };

        const editTodo = (id) => {
          const todo = getTodoItem(id);
          todo.editing = true;
        };

        const cancelEdit = (id) => {
          const todo = getTodoItem(id);
          todo.editing = false;
        };

        const confirmEdit = (event, id) => {
          const todo = getTodoItem(id);
          todo.value = event.target.value;
          todo.editing = false;
        };

        const deleteTodo = (id) => {
          state.todos = state.todos.filter((todo) => todo.id !== id);
        };

        const handleTodos = (type) => {
          if (type === 'completed') {
            state.todos.forEach((todo) => todo.completed = true);
          } else {
            const warning = window.confirm('Are you sure you want to delete all todos ?');
            if (warning) state.todos = [];
          }
        };

        watch(
          () => state.todos,
          () => {
            localStorage.setItem('todos', JSON.stringify(state.todos));
            state.showCompletedAllButton = (
              !state.todos.every((todo) => todo.completed)
            );
          },
          { deep: true },
        );

        onMounted(() => {
          if (localStorage.getItem('todos')) {
            state.todos = JSON.parse(localStorage.getItem('todos'));
          }
        });

        return {
          state,
          addTodo,
          completedTodo,
          editTodo,
          cancelEdit,
          confirmEdit,
          deleteTodo,
          handleTodos,
          filterTodos,
        };
      }
    }).mount('#app');
  </script>
</body>

</html>